<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Manufacturers</h1>
    <p class="lead">This page can be used to see all the manufacturers in our system.</p>
  </div>
</div>

<div class="container">
  <h2 class="font-weight-light text-center">Manufacturers</h2>
  <p-table [value] = "manufacturers" [paginator]="true" [rows]="10"> 
    <ng-template pTemplate="header">
      <tr>
      <th>Manufacturer</th>
    </tr>
    </ng-template>

    <ng-template pTemplate="body" let-manf>
      <tr>
        <td>
          <a routerLink="/manufacturers/{{ manf }}">{{ manf }}</a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<br>