<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">Welcome to Bar Beer Drinker</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">

  <p-table [value] = "bars"> 
    <ng-template pTemplate="header">
      <tr>
      <th>Name</th>
      <th>City</th>
      <th>License</th>
    </tr>
    </ng-template>

    <ng-template pTemplate="body" let-bar>
      <tr>
        <td>
          <a routerLink="/bars/{{ bar.name }}">{{ bar.name }}</a>
        </td>
        <td>{{ bar.city }}</td>
        <td>{{ bar.license }}</td>
      </tr>
    </ng-template>
  </p-table>

</div>